/* variable and mixin definition */
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu.eot);
  src: url(../fonts/Ubuntu.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu.woff) format('woff'), url(../fonts/Ubuntu.ttf) format('truetype'), url(../fonts/Ubuntu.svg#icon) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Bold.eot);
  src: url(../fonts/Ubuntu-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-Bold.woff) format('woff'), url(../fonts/Ubuntu-Bold.ttf) format('truetype'), url(../fonts/Ubuntu-Bold.svg#icon) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Italic.eot);
  src: url(../fonts/Ubuntu-Italic.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-Italic.woff) format('woff'), url(../fonts/Ubuntu-Italic.ttf) format('truetype'), url(../fonts/Ubuntu-Italic.svg#icon) format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-BoldItalic.eot);
  src: url(../fonts/Ubuntu-BoldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-BoldItalic.woff) format('woff'), url(../fonts/Ubuntu-BoldItalic.ttf) format('truetype'), url(../fonts/Ubuntu-BoldItalic.svg#icon) format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Light.eot);
  src: url(../fonts/Ubuntu-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-Light.woff) format('woff'), url(../fonts/Ubuntu-Light.ttf) format('truetype'), url(../fonts/Ubuntu-Light.svg#icon) format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-LightItalic.eot);
  src: url(../fonts/Ubuntu-LightItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-LightItalic.woff) format('woff'), url(../fonts/Ubuntu-LightItalic.ttf) format('truetype'), url(../fonts/Ubuntu-LightItalic.svg#icon) format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.eot);
  src: url(../fonts/Ubuntu-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-Medium.woff) format('woff'), url(../fonts/Ubuntu-Medium.ttf) format('truetype'), url(../fonts/Ubuntu-Medium.svg#icon) format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-MediumItalic.eot);
  src: url(../fonts/Ubuntu-MediumItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Ubuntu-MediumItalic.woff) format('woff'), url(../fonts/Ubuntu-MediumItalic.ttf) format('truetype'), url(../fonts/Ubuntu-MediumItalic.svg#icon) format('svg');
  font-weight: 700;
  font-style: italic;
}
/**
* Bootstrap library
* credits & license: http://getbootstrap.com/
*/
/** 
* ============================================
* Colors
* Gray and brand colors for use across Bootstrap.
* ============================================
*/
/** default */
/* #222 */
/* #555 */
/* #777 */
/* #eee */
/** blue */
/** green */
/** light blue */
/** orange */
/** red */
/** 
* ============================================
* Scaffolding
* Settings for some of the most global styles.
* ============================================
*/
/** Background color for `<body>`. */
/** Global text color on `<body>`. */
/** Global textual link color.*/
/** Link hover color set via `darken()` function.*/
/** 
* ============================================
* Typography
* Font, line-height, and color for body text, headings, and more.
* ============================================
*/
/** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`. */
/* ~18px */
/* ~12px */
/* ~36px */
/* ~30px */
/* ~24px */
/* ~18px */
/* ~12px */
/** Unit-less `line-height` for use in components like buttons. */
/** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc. */
/** By default, this inherits from the `<body>`. */
/** 
* ============================================
* Iconography
* Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.
* ============================================
*/
/** Load fonts from this directory. */
/** File name for all font files. */
/** Element ID within SVG icon file. */
/** 
* ============================================
* Components
* Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
* ============================================
*/
/** Global color for active items (e.g., navs or dropdowns). */
/** Global background color for active items (e.g., navs or dropdowns). */
/** Width of the `border` for generating carets that indicator dropdowns. */
/** Carets increase slightly in size for larger components. */
/** 
* ============================================
* Tables
* Customizes the `.table` component with basic values, each used across all table variations.
* ============================================
*/
/** Padding for `<th>`s and `<td>`s. */
/** Padding for cells in `.table-condensed`. */
/** Default background color used for all tables. */
/** Background color used for `.table-striped`. */
/** Background color used for `.table-hover`. */
/** Border color for table and cell borders. */
/** 
* ============================================
* Buttons
* For each of Bootstrap's buttons, define text, background and border color.
* ============================================
*/
/** 
* ============================================
* Forms
* ============================================
*/
/** `<input>` background color */
/** `<input disabled>` background color */
/** Text color for `<input>`s */
/** `<input>` border color */
/** `<input>` border radius */
/** Border color for inputs on focus */
/** Placeholder text color */
/** Default `.form-control` height */
/** Large `.form-control` height */
/** Small `.form-control` height */
/** Background color for textual input addons */
/** Border color for textual input addons */
/** 
* ============================================
* Dropdowns
* Dropdown menu container and contents.
* ============================================
*/
/** Background for the dropdown menu. */
/** Dropdown menu `border-color`. */
/** Dropdown menu `border-color` **for IE8**. */
/** Divider color for between dropdown items. */
/** Dropdown link text color. */
/** Hover color for dropdown links. */
/** Hover background for dropdown links. */
/** Active dropdown menu item text color. */
/** Active dropdown menu item background color. */
/** Disabled dropdown menu item background color. */
/** Text color for headers within dropdown menus. */
/** Deprecated `@dropdown-caret-color` as of v3.1.0 */
/** 
* ============================================
* Z-index master list
* Warning: Avoid customizing these values. They're used for a bird's eye view
* of components dependent on the z-axis and are designed to all work together.
*  
* Note: These variables are not generated into the Customizer.
* ============================================
*/
/** 
* ============================================
* Media queries breakpoints
* Define the breakpoints at which your layout will change, adapting to different screen sizes.
* ============================================
*/
/** Extra small screen / phone */
/** Deprecated `@screen-xs` as of v3.0.1 */
/** Deprecated `@screen-xs-min` as of v3.2.0 */
/** Deprecated `@screen-phone` as of v3.0.1 */
/** Small screen / tablet */
/** Deprecated `@screen-sm` as of v3.0.1 */
/** Deprecated `@screen-tablet` as of v3.0.1 */
/** Medium screen / desktop */
/** Deprecated `@screen-md` as of v3.0.1 */
/** Deprecated `@screen-desktop` as of v3.0.1 */
/** Large screen / wide desktop */
/** Deprecated `@screen-lg` as of v3.0.1 */
/** Deprecated `@screen-lg-desktop` as of v3.0.1 */
/** So media queries don't overlap when required, provide a maximum */
/** 
* ============================================
* Grid system
* Define your custom responsive grid.
* ============================================
*/
/** Number of columns in the grid. */
/** Padding between columns. Gets divided in half for the left and right. */
/** Navbar collapse */
/** Point at which the navbar becomes uncollapsed. */
/** Point at which the navbar begins collapsing. */
/** 
* ============================================
* Container sizes
* Define the maximum width of `.container` for different screen sizes.
* ============================================
*/
/** Small screen / tablet */
/** For `@screen-sm-min` and up. */
/** Medium screen / desktop */
/** For `@screen-md-min` and up. */
/** Large screen / wide desktop */
/** For `@screen-lg-min` and up. */
/** 
* ============================================
* Navbar
* ============================================
*/
/** Basics of a navbar */
/** Navbar links */
/** Navbar brand label */
/** Navbar toggle */
/** Inverted navbar */
/** Reset inverted navbar basics */
/* Inverted navbar links */
/* Inverted navbar brand label */
/* Inverted navbar toggle */
/** 
* ============================================
* Navs
* ============================================
*/
/** Shared nav styles */
/** Tabs */
/** Pills */
/** 
* ============================================
* Pagination
* ============================================
*/
/** 
* ============================================
* Pager
* ============================================
*/
/** 
* ============================================
* Jumbotron
* ============================================
*/
/** 
* ============================================
* Form states and alerts
* Define colors for form feedback states and, by default, alerts.
* ============================================
*/
/** 
* ============================================
* Tooltips
* ============================================
*/
/** Tooltip max width */
/** Tooltip text color */
/** Tooltip background color */
/** Tooltip arrow width */
/** Tooltip arrow color */
/** 
* ============================================
* Popovers
* ============================================
*/
/** Popover body background color */
/** Popover maximum width */
/** Popover border color */
/** Popover fallback border color */
/** Popover title background color */
/** Popover arrow width */
/** Popover arrow color */
/** Popover outer arrow width */
/** Popover outer arrow color */
/** Popover outer arrow fallback color */
/** 
* ============================================
* Labels
* ============================================
*/
/** Default label background color */
/** Primary label background color */
/** Success label background color */
/** Info label background color */
/** Warning label background color */
/** Danger label background color */
/** Default label text color */
/** Default text color of a linked label */
/** 
* ============================================
* Modals
* ============================================
*/
/** Padding applied to the modal body */
/** Padding applied to the modal title */
/** Modal title line-height */
/** Background color of modal content area */
/** Modal content border color */
/** Modal content border color **for IE8** */
/** Modal backdrop background color */
/** Modal backdrop opacity */
/** Modal header border color */
/** Modal footer border color */
/** 
* ============================================
* Alerts
* Define alert colors, border radius, and padding.
* ============================================
*/
/** 
* ============================================
* Progress bars
* ============================================
*/
/** Background color of the whole progress component */
/** Progress bar text color */
/** Default progress bar color */
/** Success progress bar color */
/** Warning progress bar color */
/** Danger progress bar color */
/** Info progress bar color */
/** 
* ============================================
* List group
* ============================================
*/
/** Background color on `.list-group-item` */
/** `.list-group-item` border color */
/** List group border radius */
/** Background color of single list items on hover */
/** Text color of active list items */
/** Background color of active list items */
/** Border color of active list elements */
/** Text color for content within active list items */
/** Text color of disabled list items */
/** Background color of disabled list items */
/** Text color for content within disabled list items */
/** 
* ============================================
* Panels
* ============================================
*/
/** Border color for elements within panels */
/** 
* ============================================
* Thumbnails
* ============================================
*/
/** Padding around the thumbnail image */
/** Thumbnail background color */
/** Thumbnail border color */
/** Thumbnail border radius */
/** Custom text color for thumbnail captions */
/** Padding around the thumbnail caption */
/** 
* ============================================
* Wells
* ============================================
*/
/** 
* ============================================
* Badges
* ============================================
*/
/** Linked badge text color on hover */
/** Badge text color in active nav link */
/** Badge background color in active nav link */
/** 
* ============================================
* Breadcrumbs
* ============================================
*/
/** Breadcrumb background color */
/** Breadcrumb text color */
/** Text color of current page in the breadcrumb */
/** Textual separator for between breadcrumb elements */
/** 
* ============================================
* Carousel
* ============================================
*/
/** 
* ============================================
* Close
* ============================================
*/
/** 
* ============================================
* Code
* ============================================
*/
/** 
* ============================================
* Type
* ============================================
*/
/** Horizontal offset for forms and lists. */
/** Text muted color */
/** Abbreviations and acronyms border color */
/** Headings small color */
/** Blockquote small color */
/** Blockquote font size */
/** Blockquote border color */
/** Page header border color */
/** Width of horizontal description list titles */
/** Horizontal line color. */
@media screen and (max-width: 360px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 480px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 979px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 1280px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (min-width: 1280px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
