/* variable and mixin definition */
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial.eot);
  src: url(../fonts/Arial.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial.woff) format('woff'), url(../fonts/Arial.ttf) format('truetype'), url(../fonts/Arial.svg#icon) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-Bold.eot);
  src: url(../fonts/Arial-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-Bold.woff) format('woff'), url(../fonts/Arial-Bold.ttf) format('truetype'), url(../fonts/Arial-Bold.svg#icon) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-Italic.eot);
  src: url(../fonts/Arial-Italic.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-Italic.woff) format('woff'), url(../fonts/Arial-Italic.ttf) format('truetype'), url(../fonts/Arial-Italic.svg#icon) format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-BoldItalic.eot);
  src: url(../fonts/Arial-BoldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-BoldItalic.woff) format('woff'), url(../fonts/Arial-BoldItalic.ttf) format('truetype'), url(../fonts/Arial-BoldItalic.svg#icon) format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-Light.eot);
  src: url(../fonts/Arial-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-Light.woff) format('woff'), url(../fonts/Arial-Light.ttf) format('truetype'), url(../fonts/Arial-Light.svg#icon) format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-LightItalic.eot);
  src: url(../fonts/Arial-LightItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-LightItalic.woff) format('woff'), url(../fonts/Arial-LightItalic.ttf) format('truetype'), url(../fonts/Arial-LightItalic.svg#icon) format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-Medium.eot);
  src: url(../fonts/Arial-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-Medium.woff) format('woff'), url(../fonts/Arial-Medium.ttf) format('truetype'), url(../fonts/Arial-Medium.svg#icon) format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url(../fonts/Arial-MediumItalic.eot);
  src: url(../fonts/Arial-MediumItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Arial-MediumItalic.woff) format('woff'), url(../fonts/Arial-MediumItalic.ttf) format('truetype'), url(../fonts/Arial-MediumItalic.svg#icon) format('svg');
  font-weight: 700;
  font-style: italic;
}
/**
* Bootstrap library
* credits & license: http://getbootstrap.com/
*/
/**
* Framework
*/
/**
* Viewports
*/
@media screen and (max-width: 360px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 480px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 979px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (max-width: 1280px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
@media screen and (min-width: 1280px) {
  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}
