a{
	&, &:visited, &:link{
		color: @_color2;
		text-decoration:none;
		&:extend(.animated);
		._animation-property(color);
	}
	&:hover{color: @_color2-hover;}
}


hr{border-top:1px solid @_color1;}

/* form elements */

fieldset{
	margin-top:5px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	legend{
		background-color: rgba(255, 255, 255, 0.5);
	}
}

input[type="text"],input[type="week"],input[type="url"],input[type="time"],input[type="tel"],input[type="search"],input[type="password"],input[type="number"],input[type="month"],input[type="email"],input[type="date"],textarea,select{
	padding-left: 10px;
	padding-right: 10px;
	outline-color: @_color2;
	background-color: @_bg_color1;
}

input[type="submit"],input[type="reset"],input[type="button"],button{
	cursor:pointer;
	background-color: @_bg_color1;
	border-color: @_bg_color1;
	&:extend(.animated);
	._animation-property(background-color);
	&:hover{background-color: darken(@_bg_color1,10%);}
	&:active{background-color: darken(@_bg_color1,50%);}
	&:focus{outline-color: darken(@_bg_color1,50%);}
}