{# search.html.twig #}

{% extends 'layout.html.twig' %}

{% block article %}
<article class="site-content">

	<article class="site-content">
		{% embed 'components/page-content.html.twig' %}
			{% block page_header %}
				{% if Wordpress.have_posts %}
					{{ Wordpress.__( 'Search Results for: ', 'devtheme' ) }}
				{% else %}
					{{ Wordpress.__( 'No result found for ', 'devtheme' ) }}
				{% endif %}
				<span>{{ Wordpress.get_search_query }}</span>
			{% endblock page_header %}
		{% endembed %}
	</article>

</article>
{% endblock %}