
._remAndPxFont(@incresement:0,@size:@_font-size_norm){
  font-size: @size+@incresement;
  font-size: unit(@size/10,rem) + unit(@incresement/10, rem);
}

.makeBox(@display:block, @width:100%, @height:100%){
  display: @display;
  width: @width;
  height: @height;
}

.makePosition(@position:relative, @direction1, @value1, @direction2, @value2 ){
  position: @position;
  @{direction1}: @value1;
  @{direction2}: @value2;
}

.font(@size:@font-size-base, @lineheight: @line-height-base){
  font-size: @size;
  line-height: @lineheight;
}

.clearListStyle(){
  margin: 0;
  padding: 0;
  list-style: none;
}

._a(@color, @hover){
  a{
    &,&:link,&:visited{
      color: @color;
    }
    &:hover{
      color: @hover;
    }
  }
}

@import "_background-clip";
@import "_gradient";
@import "_opacity";
@import "_box-sizing";
@import "_transform";
@import "_transition";
@import "_box-sizing";
@import "_drop-shadow";
@import "_text-shadow";
@import "_filter";
@import "_font-face";